bucket                      = "mmlinaric-homelab-wazuh"
key                         = "state/sec1/tofu.tfstate"
region                      = "CHANGE_ME_OVH_REGION"
use_lockfile                = true
encrypt                     = true
skip_credentials_validation = true
skip_region_validation      = true
skip_requesting_account_id  = true
skip_metadata_api_check     = true
use_path_style              = true

endpoints = {
  s3 = "CHANGE_ME_OVH_S3_ENDPOINT"
}
