<agent_config os="Linux">
  <syscheck>
    <disabled>no</disabled>
    <frequency>43200</frequency>
    <scan_on_start>yes</scan_on_start>
    <directories check_all="yes" realtime="yes">/etc,/usr/local/bin,/usr/local/sbin</directories>
    <directories check_all="yes" realtime="yes">/root</directories>
    <directories check_all="yes">/boot,/usr/bin,/usr/sbin</directories>
    <ignore>/etc/mtab</ignore>
    <ignore>/etc/hosts.deny</ignore>
    <ignore type="sregex">.log$|.swp$</ignore>
    <skip_nfs>yes</skip_nfs>
  </syscheck>

  <wodle name="syscollector">
    <disabled>no</disabled>
    <interval>1h</interval>
    <scan_on_start>yes</scan_on_start>
    <hardware>yes</hardware>
    <os>yes</os>
    <network>yes</network>
    <packages>yes</packages>
    <ports all="no">yes</ports>
    <processes>yes</processes>
  </wodle>

  <sca>
    <enabled>yes</enabled>
    <scan_on_start>yes</scan_on_start>
    <interval>12h</interval>
  </sca>

  <localfile>
    <log_format>json</log_format>
    <location>/var/lib/rancher/k3s/server/logs/audit.log</location>
    <label key="source">kubernetes-audit</label>
  </localfile>
</agent_config>
