<group name="routeros,network_device,syslog,">
  <rule id="100100" level="3">
    <decoded_as>routeros</decoded_as>
    <description>RouterOS event received.</description>
  </rule>

  <rule id="100101" level="10">
    <if_sid>2501</if_sid>
    <decoded_as>routeros</decoded_as>
    <regex type="pcre2">(?i)(login failure|authentication failed|invalid (user|password)|failed login)</regex>
    <description>RouterOS authentication failure.</description>
    <group>authentication_failed,</group>
  </rule>

  <rule id="100102" level="6">
    <if_sid>100100</if_sid>
    <regex type="pcre2">(?i)user .+ logged in</regex>
    <description>RouterOS administrator logged in.</description>
    <group>authentication_success,</group>
  </rule>

  <rule id="100103" level="3">
    <if_sid>100100</if_sid>
    <regex type="pcre2">(?i)user .+ logged out</regex>
    <description>RouterOS administrator logged out.</description>
  </rule>

  <rule id="100104" level="7">
    <if_sid>100100</if_sid>
    <regex type="pcre2">(?i)(item|rule|setting|configuration|action).*(added|changed|removed|moved) by</regex>
    <description>RouterOS configuration was changed.</description>
    <group>configuration_changed,</group>
  </rule>

  <rule id="100105" level="10">
    <if_sid>100100</if_sid>
    <regex type="pcre2">(?i)(?:^|\s)[a-z0-9,!-]*critical[a-z0-9,!-]*\s+routeros\s*:</regex>
    <description>RouterOS critical event.</description>
  </rule>

  <rule id="100106" level="7">
    <if_sid>100100</if_sid>
    <regex type="pcre2">(?i)(?:^|\s)[a-z0-9,!-]*error[a-z0-9,!-]*\s+routeros\s*:</regex>
    <description>RouterOS error event.</description>
  </rule>

  <rule id="100107" level="5">
    <if_sid>100100</if_sid>
    <regex type="pcre2">(?i)(?:^|\s)[a-z0-9,!-]*warning[a-z0-9,!-]*\s+routeros\s*:</regex>
    <description>RouterOS warning event.</description>
  </rule>

  <rule id="100108" level="5">
    <if_sid>100100</if_sid>
    <regex type="pcre2">(?i)(?:^|\s)[a-z0-9,!-]*firewall[a-z0-9,!-]*\s+routeros\s*:</regex>
    <description>RouterOS firewall event.</description>
    <group>firewall,</group>
  </rule>

  <rule id="100109" level="1">
    <if_sid>100100</if_sid>
    <regex type="pcre2">(?i)wireguard,info\s+routeros\s*:\s*wireguard1:\s*\[Mario's Pixel 9\].*Handshake for peer did not complete after 5 seconds, retrying</regex>
    <description>Expected WireGuard retry while the Pixel peer is unreachable.</description>
    <group>routeros_noise,wireguard_retry,</group>
  </rule>

  <rule id="100110" level="7" frequency="120" timeframe="600" ignore="3600">
    <if_matched_sid>100109</if_matched_sid>
    <description>RouterOS Pixel WireGuard peer has sustained handshake failures.</description>
    <group>network_availability,wireguard_retry,</group>
  </rule>
</group>
