# Admin user for the dashboard and indexer
  indexer_username: 'admin'
  indexer_password: '{{ wazuh_indexer_passwords.admin }}'

# Anomaly detection service user
  indexer_username: 'anomalyadmin'
  indexer_password: '{{ wazuh_indexer_passwords.anomalyadmin }}'

# Dashboard service user
  indexer_username: 'kibanaserver'
  indexer_password: '{{ wazuh_indexer_passwords.kibanaserver }}'

# Read-only dashboard user
  indexer_username: 'kibanaro'
  indexer_password: '{{ wazuh_indexer_passwords.kibanaro }}'

# Filebeat service user
  indexer_username: 'logstash'
  indexer_password: '{{ wazuh_indexer_passwords.logstash }}'

# Read-all indexer user
  indexer_username: 'readall'
  indexer_password: '{{ wazuh_indexer_passwords.readall }}'

# Snapshot and restore user
  indexer_username: 'snapshotrestore'
  indexer_password: '{{ wazuh_indexer_passwords.snapshotrestore }}'

# Wazuh API administrator
  api_username: 'wazuh'
  api_password: '{{ wazuh_api_passwords.wazuh }}'

# Dashboard API user
  api_username: 'wazuh-wui'
  api_password: '{{ wazuh_api_passwords['wazuh-wui'] }}'
