token: "{{ k3s_server_token }}"
node-name: "{{ inventory_hostname }}"
node-ip: "{{ node_ip }}"
advertise-address: "{{ node_ip }}"
tls-san:
  - "{{ k3s_api_vip }}"
  - "{{ node_ip }}"
cluster-init: true
secrets-encryption: true
write-kubeconfig-mode: "0640"
cluster-cidr: "{{ k3s_cluster_cidr }}"
service-cidr: "{{ k3s_service_cidr }}"
flannel-iface: "{{ k3s_interface }}"
kube-proxy-arg:
  - "metrics-bind-address={{ node_ip }}:10249"
kube-apiserver-arg:
  - "oidc-issuer-url={{ k3s_oidc_issuer_url }}"
  - "oidc-client-id={{ k3s_oidc_client_id }}"
  - "oidc-username-claim={{ k3s_oidc_username_claim }}"
  - "oidc-username-prefix={{ k3s_oidc_username_prefix }}"
  - "oidc-groups-claim={{ k3s_oidc_groups_claim }}"
  - "oidc-groups-prefix={{ k3s_oidc_groups_prefix }}"
disable:
  - traefik
  - servicelb
etcd-snapshot-schedule-cron: "0 */12 * * *"
etcd-snapshot-retention: 28
etcd-snapshot-compress: true
etcd-s3: true
etcd-s3-config-secret: k3s-etcd-snapshot-s3-config
