RESTIC_REPOSITORY={{ zabbix_restic_repository }}
RESTIC_PASSWORD={{ zabbix_restic_password }}
AWS_ACCESS_KEY_ID={{ zabbix_s3_access_key }}
AWS_SECRET_ACCESS_KEY={{ zabbix_s3_secret_key }}
AWS_DEFAULT_REGION={{ zabbix_s3_region }}
RESTIC_CACHE_DIR=/var/cache/restic
